<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>
   <header>
        <div class="links-admin">
          <a href="/" class=""><img src="/assets/logoAdmin.png" alt="logo"></a>
        </div>
    </header>
 
  <div class="container-admin">
    <section>
      <div class="cards-admin">
        <div class="cards-admin">
          <img src="/assets/burger.png" alt="">
          <h1>Triplo bacon burger</h1>
          <h1 >Triplo bacon burger</h1>
          <a href="">visualizar</a>
        </div>
      </div>
    </section>
  </div>
    
</body>
</html>
