{% extends "layout.njk" %}

  {%block head%}
  <title>Receitas</title>
  {%endblock%}
  
  {%block content%}
    <section id="cards">
      <div class="card" id="burger">
          <img src="./assets/burger.png" alt="">
          <div class="nome-prato">
            <h2 class="nome-prato" >Triplo bacon burger</h2>
          </div>
          <div class="chef">
            <h3 class="chef" >por Jorge Relato</h3>
          </div>
        </div>
        <div class="card" id="pizza">
          <img src="./assets/pizza.png" alt="">
          <div class="nome-prato">
            <h2>Pizza 4 estações</h2>
          </div>
          <div class="chef">
            <h3>por Fabiana Melo</h3>
          </div>
        </div>
        <div class="card" id="espaguete">
          <img src="./assets/espaguete.png" alt="">
          <div class="nome-prato">
            <h2>Espaguete ao alho</h2>
          </div>
          <div class="chef">
            <h3>por Júlia Kinoto</h3>
          </div>
        </div>
        <div class="card" id="lasanha">
          <img src="./assets/lasanha.png" alt="">
          <div class="nome-prato">
            <h2>Lasanha mac n’ cheese</h2>
          </div>
          <div class="chef">
            <h3>por Juliano Vieira</h3>
          </div>
        </div>
        <div class="card" id="doce">
          <img src="./assets/doce.png" alt="">
          <div class="nome-prato">
            <h2>Docinhos pão-do-céu</h2>
          </div>
          <div class="chef">
            <h3>por Ricardo Golvea</h3>
          </div>
        </div>
        <div class="card" id="asinhas">
          <img src="./assets/asinhas.png" alt="">
          <div class="nome-prato">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <div class="chef">
            <h3>por Vania Steroski</h3>
          </div>
        </div>

        <div class="card" id="burger">
          <img src="./assets/burger.png" alt="">
          <div class="nome-prato">
            <h2>Triplo bacon burger</h2>
          </div>
          <div class="chef">
            <h3>por Jorge Relato</h3>
          </div>
        </div>
        <div class="card" id="pizza">
          <img src="./assets/pizza.png" alt="">
          <div class="nome-prato">
            <h2>Pizza 4 estações</h2>
          </div>
          <div class="chef">
            <h3>por Fabiana Melo</h3>
          </div>
        </div>
        <div class="card" id="espaguete">
          <img src="./assets/espaguete.png" alt="">
          <div class="nome-prato">
            <h2>Espaguete ao alho</h2>
          </div>
          <div class="chef">
            <h3>por Júlia Kinoto</h3>
          </div>
        </div>
        <div class="card" id="lasanha">

          <img src="./assets/lasanha.png" alt="">

          <div class="nome-prato">
            <h2>Lasanha mac n’ cheese</h2>
          </div>

          <div class="chef">
            <h3>por Juliano Vieira</h3>
          </div>

        </div>
        <div class="card" id="doce">
          <img src="./assets/doce.png" alt="">
          <div class="nome-prato">
            <h2 class="nome-prato" >Docinhos pão-do-céu</h2>
          </div>
          <div class="chef">
            <h3>por Ricardo Golvea</h3>
          </div>
        </div>
        <div class="card" id="asinhas">
          <img src="./assets/asinhas.png" alt="">
          <div class="nome-prato">
            <h2>Asinhas de frango ao barbecue</h2>
          </div>
          <div class="chef">
            <h3>por Vania Steroski</h3>
          </div>
        </div>
      
    </section>
{%endblock%}

  <!--<div class="modaloverlay">

    <div class="modal">
        <img style="max-width: 700px; 
        max-height: 300px;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 15px;
        padding-left: 4.6%;"  class="img-receita"  alt="">
        <p class = "descricao-receita"></p>
        <p class = "chef-modal"></p>
        <div class="close-modal">
          <h3>Fechar</h3>
      </div>
      </div>
      </div>
    -->
  



  <script src="./js/receitas.js"></script>
</body>

</html>