{%extends 'layout.njk'%}
{%block head%}
  <title>Receita</title>
  {%endblock%}

  {% block content%}

    <section>
     
        <div class="img-main">
          <img src="assets/burger.png" alt="">
        </div>

        <div class="recipe-title">
          <div class="recipe-prato">
            <h2>Triplo bacon burger</h2>
          </div>
          <div class="recipe-chef">
            <h3>por Jorge Relato</h3>
          </div>
        </div>
    
    </section>

    <main>
      	
          <div class="ingredientes">
            <div class="title-ingred">
              <h2>Ingredientes</h2>
              <button class="esconder">Esconder</button>
            </div>
          {%for item in items%}
            <div class="ingred-receita">
              <ul id="ingred-receita">
                <li >{{item.ingredients}}</li>
              </ul>
            </div>
            {%endfor%}
          </div>
       
      <div class="preparo">
        <div class="title-preparo">
          <h2>Modo de preparo</h2>
          <button class="mostrar">Mostrar</button>
        </div>
        {%for item in items%}
          <div class="preparo-receita">
            <ul id="preparo-receita">
              <li>{{item.preparation}}</li>
              
            </ul>
          </div>
        {%endfor%}
      </div>
        
      <div class="info">
        <div class="title-info">
          <h2>Informações adicionais</h2>
          <button class="esconder">Esconder</button>
        </div>
        {%for item in items%}
          <div id="texto-info">
           <p>{{item.information}}</p>
          </div>
        {%endfor%}
      </div>
    </main>

     <script src="./public/js/receitas.js"></script>
    
    {% endblock%}