{%extends 'layout.njk'%}
{%block head%}
  <title>Receita</title>
  {%endblock%}

  {% block content%}

    <section>
     {{item}}
        <div class="img-main">
          <img src="{{recipe.image}}" alt="">
        </div>

        <div class="recipe-title">
          <div class="recipe-prato">
            <h2>{{recipe.title}}</h2>
          </div>
          <div class="recipe-chef">
            <h3>{{recipe.author}}</h3>
          </div>
        </div>
    
    </section>

    <main>
      	
          <div class="recipe-wraper">
            <div class="title-ingred">
              <h2>Ingredientes</h2>
              <button class="button">Esconder</button>
            </div>
          {%for item in recipe.ingredients%}
            <div class="show">
              <ul id="show">
                <li >{{item}}</li>
              </ul>
            </div>
            {%endfor%}
          </div>
       
      <div class="recipe-wraper">
        <div class="title-preparo">
          <h2>Modo de preparo</h2>
          <button class="button">Mostrar</button>
        </div>
        {%for item in recipe.preparation%}
          <div class="show">
            <ul id="show ">
              <li>{{item}}</li>
              
            </ul>
          </div>
        {%endfor%}
      </div>
        
      <div class="recipe-wraper">
        <div class="title-info">
          <h2>Informações adicionais</h2>
          <button class="button">Esconder</button>
        </div>
       
          <div id="texto-info">
           <p>{{recipe.information}}</p>
          </div>
        
      </div>
    </main>

     <script src="/js/receitas.js"></script>
    
    {% endblock%}